.sumbuContainer {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

/* update */
.loopLimits_toleransiError{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 2px solid red; */
  gap: 10px;
  /* flex-wrap: wrap; */
}
.loopLimits_Container{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.loopLimits_input{
  padding: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  color: var(--color-act2);
  width: 20%;
  max-width: 200px;
  flex-grow: 1;
  /* background-color: var(--color-act4); */
}
.loopLimits_input::placeholder{
  color: var(--color-act2);
}
.loopLimits_label{
  color: var(--color-act2);
  font-weight: 700;
  margin-left: 10px;
}
@media only screen and (max-width: 446px) {
  .loopLimits_toleransiError{
    flex-wrap: wrap;
  }
  .loopLimits_input{
    max-width: none;
  }
}